* 
{
   font-family: Segoe UI Light, Helvetica;
   font-size: 21px; 
   font-weight: bold;
   list-style: none;
   text-decoration:none;
   margin:0;
   padding:0;
}

body
{
   background-color: #f2f2f2;
}

#oMenu
{ 
   background: #404040; 
   width: 100%; 
   opacity: 0.8;
}

.clear
{ 
   clear: both; 
   height: 0px; 
}

.nav > li 
{
   float:left;
   text-align: center; 
}

.nav ul li a
{ 
   text-align: left; 
}

.nav ul ul
{ 
   z-index: 1; 
}

.nav li a 
{
   background: #404040;
   color: #FFF;
   display: block;
   padding: 10px 15px;
   width: 150px;
   text-align: center; 
}

.nav li .arrow
{
   font-size: 12px;
   padding-left: 6px;
   display: none;
   float: right;
	margin-top: 10px;
}

.nav li a:not(:last-child) .arrow 
{
   display: inline;
}

.nav li a:hover 
{
   background: #7d7d7d;
}

.nav li 
{
   position:relative;
}

.nav li ul 
{
   display: none;
   position: absolute;
   min-width: 180px;
}

.nav li:hover > ul 
{
   display:block;
   text-align: left; 
}

.nav li ul li ul 
{
   right:-180px;
   top:0;
   text-align: left; 
}

.overlay
{
   position: absolute;
   left: 0;
   top: 0;
   background-color: #0f0f0f;
   opacity: 0.7;
   filter: alpha( opacity = 70 );
   background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
}

.dialog
{
   position: absolute;
   left: 0;
   top: 0;
   margin: auto;
   background-color: #a0a0a0;
   border: 5px solid #ffffff;
   text-align: center;
   opacity: 1.0;
   filter: alpha( opacity = 100 );
   border-radius: 5px 5px 5px 5px;
   -webkit-box-shadow: 0 5px 80px #505050;
}   

.dialog h2
{
   background: #4646ff;
   color: white;
   font-family: Segoe UI Light; 
   font-size: 13pt;
   padding: 10px;
   border-radius: 3px 3px 0 0;
   margin : 0;
   opacity: 1.0;
}   

.say
{
   position: absolute;
   font-family: Segoe UI Light; 
   font-size: 12pt;
   font-weight: bold;
}

.get
{
   position: absolute;
   font-family: Segoe UI Light; 
   font-size: 12pt;
   font-weight: bold;
   border-radius: 4px 4px 4px 4px;
   border : 2 color: gray;
   background-color: #d5d5d5;
   outline-color: #4646ff;
}

.getrel
{
   position: relative;
   font-family: Segoe UI Light; 
   font-size: 12pt;
   font-weight: bold;
   border-radius: 4px 4px 4px 4px;
   border : 2 color: gray;
   background-color: #d5d5d5;
   outline-color: #4646ff;
   width: 95%;
}

.image
{
   position: absolute;
   border-radius: 4px 4px 4px 4px;
}

.container
{
   background-color: #a0a0a0;
}

.browse
{
   position: absolute;
   font-family: Segoe UI, Verdana; 
   font-size: 12pt;   
   background-color: #d5d5d5;
   padding: 0;
   top: 0;
   left: 0;
   width: 100%;
}

.browse th
{
   background-color: #4646d5;
   color: white;
}

.browse tr.odd
{
   background-color: #c8c8c8;
}

.browse tr.over
{
   background-color: #8686e8;
}

.browse tr.selected
{
   background-color: #ee8a88;
}

.browse tr td
{
}

.edit
{
   position: absolute;
   font-family: Segoe UI, Verdana; 
   font-size: 12pt;   
   background-color: #a0a0a0;
   padding: 0;
   top: 0;
   left: 0;
   width: 100%;
}

.div
{
   position: absolute;
   text-align: left; 
   font-family: Segoe UI, Verdana; 
   font-size: 12pt;   
   background-color: #d5d5d5;
   padding: 0;
   top: 0;
   left: 0;
}
